.singlePost {
    flex: 9;
}

.singlePostWrapper {
    padding: 20px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
}

.singlePostImg {
    width: 100%;
    height: 350px;
    border-radius: 5px;
    object-fit: cover;
}

.singlePostTitle {
    text-align: center;
    margin: 12px;
    font-family: 'Lora', 'serif';
    font-size: 20px;
}
.singlePostTitleInput{
    text-align: center;
    margin: 12px;
    font-family: 'Lora', 'serif';
    font-size: 20px;
    border: none;
    border-bottom: 1px solid lightgrey;
}
.singlePostTitleInput{
    outline: none;
}

.singlePostEdit {
    float: right;
    font-size: 20px;
    cursor: pointer;
   
}

.singlePostIcon:first-child {
    color: teal;
    margin-right: 5px;
}

.singlePostIcon:last-child {
    color: tomato;
}

.singlePostInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family: 'Varela round', 'sans-serif';
    color: #b39656;
}

.singlePostDesc{
    color: #666;
    font-size: 16px;
    line-height: 25px;
}
.singlePostDesc:first-letter{
  margin-left: 15px;
  font-size: 30px;
  font-weight: 600;   
}
.singlePostDescInput{
    color: #666;
    font-size: 16px;
    line-height: 25px;
    border:none;
}
.singlePostDescInput:focus{
    outline: 1px solid lightgrey;
}
.singlePostButton{
    width: 100px;
    border: none;
    background-color: teal;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 10px;
}
